.sort {
  height: 80px;
  background-color: #442d85;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Размещает элементы по краям */
  padding: 0 20px;
}

.planesHeader {
  display: flex; /* Добавляем флекс для выравнивания */
  width: 100%; /* Занимает всю ширину */
  justify-content: space-between; /* Размещает кнопки по краям */
}

.sortBtn {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0; /* Не расширяется */
}

.createPlaneBtn {
  background: #2FB5FC;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block;
  flex-grow: 0; /* Не расширяется */
}

.planesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.planeCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 30px;
  margin-right: 30px;
}

.planeCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.planeImage {
  width: 100%;
  max-width: 250px; /* Ограничение ширины изображения */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto; /* Центрирует изображение */
}

.planeCard h3 {
  font-size: 1.6rem;
  color: #333;
  margin: 10px 0;
}

.planeCard p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.planeCard p strong {
  font-weight: bold;
  color: #442d85;
}

.sortSelect {
  margin-left: -700px;
  background-color:#2FB5FC ;
  border: none;
  border-radius: 8px;
  padding: 4px 6px;

}
